body{
    width: 300px;
}

.senhaCampo{
    float: left;
    border: none;
}

.tamanhoCampo{
    float: left;
}

#titulo{
    text-align: center;
}

#oculta{
    width: 70px;
    height: 20px;
    text-align: center;
}

#tamanhoMin{
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

#tamanhoMax{
    width: 50px;
    margin-left: 5px;
}